:root {
    --row-front-label-gap: -3rem;
    --row-back-label-gap: -2rem;

    --calculator-row-width: 27rem;
    --calculator-cell-height: 4.5rem;

    --grade-color-hd: #69e1ff;
    --grade-color-d: #ABFF69;
    --grade-color-c: #e4ff69;
    --grade-color-p: #ffc117;
    --grade-color-f: #ff1717;

    --cell-border-radius: 0.6rem;

    --disabled-color: #A7A7A7;

    --border-color: #B1B1B1;

    --stripe-bg-white: #F0F0F0;

    --current-grade: -10%;

    --stripe-height: 1rem;

    font-size: 10pt;
}

input:focus {
    outline: none;
    box-shadow: 0px 2px #555555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input {
    font-family: 'Inter', sans-serif;
    caret-color: transparent;

    user-select: all;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: NBInternationalBold; */
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

#root {
    min-height: 100vh;

    display: flex;
}

.main-container {
    display: flex;

    width: min-content;
    margin: 14vh auto;
    margin-bottom: 10rem;

    /* outline: red 2px solid; */

    position: relative;
}

.logo-box {
    position: absolute;

    bottom: -7rem;

    cursor: pointer;

    display: flex;
    align-items: center;
}

.logo-box>img {
    margin-left: 1rem;
    padding: 0.2rem 0;

    width: 8rem;
}

.logo-box:hover>img {
    box-shadow: 0px 2px black;

    /* filter: invert(0.5); */
}

a{
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    /* color: rgb(37, 37, 37); */
    color: black;
    background-color: white;

    overflow: hidden;

    mix-blend-mode: multiply;

    position: relative;
}

h1::before {
    content: "";

    mix-blend-mode: screen;

    position: absolute;
    display: block;
    inset: 0;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 9%, rgba(131, 129, 255, 1) 44%, rgba(255, 71, 71, 1) 72%, rgba(255, 238, 84, 1) 100%);

    transform: translateX(50%) scale(2);
    opacity: 0.5;

    transition:
        transform 600ms ease-in-out,
        opacity 700ms ease-in-out;
}

h1:hover::before {
    transform: translateX(-75%) scale(2);
    opacity: 1;
}

h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.calculator-section,
.graph-section {
    width: var(--calculator-row-width);
    height: min-content;
}

.calculator-table,
.calculator-controller-section {
    margin-top: 2rem;
}

.calculator-controller-row,
.calculator-status-row,
.calculator-header,
.calculator-controller-header {
    display: grid;
}

.calculator-header,
.calculator-controller-header {
    font-weight: 700;
    margin-bottom: 0.8rem;
    /* margin-top: 1.4rem; */
}

.calculator-header {
    grid-template-columns: 12.59% 2.91% 19.85% 4.60% 22.76% 7.26% 30.02%;
}

.calculator-controller-header {
    grid-template-columns: 39.47% 28.81% 31.96%;
}

.calculator-header>span:nth-child(6),
.calculator-header>span:nth-child(5) {
    text-align: center;
}


.calculator-subject-row,
.calculator-controller-row {
    position: relative;
    width: var(--calculator-row-width);

    margin-bottom: 1rem;
}

.calculator-controller-row,
.calculator-status-row {
    font-size: 1.5rem;
}

.subject-row-inputs {
    display: grid;
    grid-template-columns: 39.225% 28.812% 31.961%;
}

.subject-row-inputs>div:nth-child(1) {
    margin-right: 10%;
}

.subject-row-inputs>div:nth-child(2) {
    margin-right: 18%;
}

.double-input-box,
.percentage-input-box,
.grade-display-box,
.grade-display-box--no-grade {
    height: var(--calculator-cell-height);

    background-color: #D9D9D9;
    border-radius: var(--cell-border-radius);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grade-display-box {
    font-size: 1.5rem;
    font-weight: 900;
}

.double-input-box>input,
.percentage-input-box>input {
    background: none;
    border: none;

    padding: 0.2rem 0;

    height: 1.5rem;

    font-size: 1.5rem;

    text-align: center;
}

.double-input-box input {
    width: 3rem;
    margin: 0 0.2rem;
}

.double-input-box input:nth-child(1) {
    width: 4.2rem;
}

.percentage-input-box input {
    width: 2.5rem;
}

.subject-row-front-label,
.subject-row-end-label,
.total-points-end-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.2rem;
}

.subject-row-front-label {
    left: var(--row-front-label-gap);
}

.subject-row-end-label,
.total-points-end-label {
    right: var(--row-back-label-gap);
}

.total-points-end-label {
    font-weight: 700;
}

.grade-display-box {
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.1);
}

.grade-display-box--no-grade {
    outline: var(--border-color) 1px solid;
    background-color: white;
}

.hover-shadow-button {
    transition: 0.5s;
}

.hover-shadow-button:hover {
    box-shadow: 8px 12px 30px rgba(0, 0, 0, 0.2);
    color: rgb(74, 74, 74);
    filter: brightness(1.1);
}

.grade-display-box.hd {
    background-color: var(--grade-color-hd);
}

.grade-display-box.d {
    background-color: var(--grade-color-d);
}

.grade-display-box.c {
    background-color: var(--grade-color-c);
}

.grade-display-box.p {
    background-color: var(--grade-color-p);
}

.grade-display-box.f {
    background-color: var(--grade-color-f);
    color: #f3ff37;
}

.grade-display-box.invalid {
    outline: red 2px solid;
    color: red;
}

.calculator-controller-row {
    grid-template-columns: 19.61% 19.85% 28.81% 31.72%;
}

.calculator-controller-row>div:nth-child(1) {
    margin-right: 20.99%;
}

.calculator-controller-row>div:nth-child(2) {
    margin-right: 20.73%;
}

.calculator-controller-row>div:nth-child(3) {
    margin-right: 18.49%;
}

.minus-button,
.plus-button,
.percentage-indicator,
.total-indicator,
.calculator-total-out-of,
.calculator-total-level {
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--calculator-cell-height);

    outline: var(--border-color) 1px solid;

    border-radius: var(--cell-border-radius);
}

.total-indicator {
    font-weight: 900;
}

.minus-button,
.plus-button {
    font-size: 2.5rem;
    font-weight: 700;

    cursor: pointer;
}

.plus-button {
    background-color: #F3F3F3;
}

.plus-button::after {
    content: "+";
    padding-bottom: 0.3rem;
}

.minus-button::after {
    content: "-";
    padding-bottom: 0.3rem;
}

.minus-button {
    background-color: #FFE7E7;
}

.minus-button:hover {
    background-color: #ff6262;
    outline: #ff6262 1px solid;
}

.disabled-button {
    color: var(--disabled-color);
    pointer-events: none;
}

.invalid-input {
    background-color: red;
    color: white;
}

.calculator-status-row {
    grid-template-columns: 68.04% 31.96%;
}

.calculator-status-row>div:nth-child(1) {
    margin-right: 7.82%;
}

.calculator-total-out-of {
    color: var(--disabled-color);
    position: relative;

    overflow: hidden;
}

.calculator-total-out-of:hover {
    color: white;
    background: #ff7d7d;
    text-shadow: 3px 4px 13px rgba(0, 0, 0, 0.8);
}

.calculator-total-out-of::after {
    content: "";

    position: absolute;

    opacity: 0.5;

    top: 0;
    right: 120%;

    height: 100%;
    width: 100%;

    background: rgb(255, 0, 0);
    filter: blur(10px);

    transition: right 0.4s ease-in-out;

    z-index: -1;
}

.calculator-total-out-of:hover::after {
    --current-grade: inherit;
    right: calc(100% - var(--current-grade));
}

.calculator-total-level {
    font-weight: 900;
}

.calculator-total-level.hd {
    background-color: var(--grade-color-hd);
}

.calculator-total-level.d {
    background-color: var(--grade-color-d);
}

.calculator-total-level.c {
    background-color: var(--grade-color-c);
}

.calculator-total-level.p {
    background-color: var(--grade-color-p);
}

.calculator-total-level.f {
    background-color: var(--grade-color-f);
    color: white;
}


/* ---------------------------
        GRAPH SECTION
----------------------------- */

.graph-section {
    --horizontal-padding: 2rem;

    outline: var(--border-color) 1px solid;

    /* margin-left: 8rem; */
    margin-left: clamp(4rem, 10dvw, 20rem);
    padding: 1.5rem 2rem;

    width: calc(var(--calculator-row-width) - 2 * var(--horizontal-padding));

    border-radius: var(--cell-border-radius);

    transition: margin 200ms;

    overflow: hidden;
}


.graph-section>h1 {
    margin-bottom: 1rem;
}

.graph-area.fill-first-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 28rem;
}

.graph-area.fill-first-label>img {
    width: 50%;
}

.graph-fill-first-hint {
    font-size: 1.4rem;
    font-weight: 700;

    margin-top: 2rem;
    margin-bottom: 3rem;

    color: var(--disabled-color);
}

.stripe-area {
    width: 100%;
    height: var(--stripe-height);

    position: relative;

    background-color: var(--stripe-bg-white);

    margin-top: 4rem;
    margin-bottom: 11rem;

    border-radius: 2rem;
}

.stripe-area.no-what-if {
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}


/* PASS INDICATOR */
.stripe-area::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    height: calc(var(--stripe-height) + 0.5rem);
    width: 2px;

    background-color: rgba(0, 0, 0, 0.7);
}

.subject-stripe {
    border-radius: 2rem;

    height: 100%;

    position: absolute;

    /* COVER BY THE NEXT STRIP */
    width: calc(var(--subject-grade) + 3%);

    transition: box-shadow 200ms ease-in-out;
}

.subject-stripe:hover {
    box-shadow: 2px 2px 14px rgba(255, 150, 150, 0.762);
    outline: 2px rgb(255, 112, 112) solid;

    z-index: 999;
}

.subject-stripe:last-of-type {
    width: var(--subject-grade);
}

.subject-stripe.hd {
    background: var(--grade-color-hd);
}

.subject-stripe.d {
    background: var(--grade-color-d);
}

.subject-stripe.c {
    background: var(--grade-color-c);
}

.subject-stripe.p {
    background: var(--grade-color-p);
}

.subject-stripe.f {
    background: var(--grade-color-f);
}

.subject-stripe.whatif-stripe {
    background: linear-gradient(90deg, rgba(131, 129, 255, 1) 0%, rgba(255, 71, 71, 1) 63%, rgba(255, 238, 84, 1) 100%);
    white-space: nowrap;
    text-align: center;
    font-weight: 900;
}

.subject-stripe--label {
    position: absolute;

    top: -1.8rem;
    left: 50%;

    transform: translateX(-50%);
}

.all-what-if-stripes {
    /* outline: 2px red solid; */

    display: flex;
    flex-direction: column;
}

.what-if-stripe {
    width: 100%;
    height: var(--stripe-height);

    background-color: var(--stripe-bg-white);
    border-radius: 3rem;

    margin-top: 1rem;

    position: relative;
}

.what-if-stripe:first-of-type {
    margin-top: 2.5rem;
}

/* THE COLORED STRIPE OF EACH GRADE LEVEL */
.what-if-stripe::after {
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    height: var(--stripe-height);

    border-radius: 2rem;

    background: var(--grade-color-hd);
}

.what-if-stripe.hd::after {
    width: 85%;
    background: var(--grade-color-hd);
}

.what-if-stripe.d::after {
    width: 75%;
    background: var(--grade-color-d);
}

.what-if-stripe.c::after {
    width: 65%;
    background: var(--grade-color-c);
}

.what-if-stripe.p::after {
    width: 50%;
    background: var(--grade-color-p);
}

.what-if-stripe--pre-tag {
    position: absolute;

    left: 0;
    transform: translateX(calc(-100% - 1rem));
}

.what-if-stripe--post-tag {
    position: absolute;

    right: 0;
    transform: translateX(calc(100% + 0.8rem));
    font-weight: 500;

    transition: transform 200ms ease-in-out;
}

/* .what-if-stripe--post-tag[data-type="download"] */

.all-what-if-stripes[data-too-long="true"] .what-if-stripe--post-tag {
    transform: translateX(calc(100% + 0.2rem));
}

.summary-total-strip {
    width: var(--total-width);

    margin-top: 2rem;
    background-color: #999999;

    height: var(--stripe-height);

    border-radius: 2rem;

    position: relative;
}

.summary-total-strip.no-space {
    margin-top: 3rem;
}

.summary-total-strip>p {
    position: absolute;

    top: 50%;
    right: 0;
    transform: translateX(120%) translateY(-50%);
}

.summary-total-strip.no-space>p {
    right: 0;
    top: -1.8rem;
    transform: none;
}

.what-if-text-area {
    display: grid;
    grid-template-columns: 2fr 3fr;

    gap: 0.6rem;
}

.what-if-text-area-title {
    font-size: 1.1em;
    font-weight: 900;

    margin-bottom: 0.4rem;
}

.what-if-text-area span {
    opacity: 0.3;

    transition: opacity 200ms ease-in-out;
}

.what-if-text-area p:hover span {
    opacity: 1;
}


@media (max-width: 900px) {
    .main-container {
        flex-direction: column;
    }

    .graph-section {
        margin-left: auto;
        margin-top: 5rem;
    }

    .logo-box {
        justify-content: center;
        flex-direction: column;
    }

    .logo-box {
        width: 100%;
    }

    .logo-box>img {
        margin: 0;
    }
}


/* ---------------------------
            VERY SMALL
----------------------------- */
@media (max-width: 500px) {
    :root {
        font-size: 8pt;

        --calculator-row-width: 30rem;
    }

    .logo-box {
        bottom: -7rem;
    }

    .main-container {
        flex-direction: column;

        margin: 5dvh auto;
        margin-bottom: 10rem;
    }

    .subject-row-front-label {
        display: none;
    }

    .graph-section .summary-header {
        font-size: 1.4rem;
    }

    .what-if-text-area {
        font-size: 1.2rem;
    }
}